<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Популяции{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">



    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <div class="main-links">
            <a href="{% url 'population_list' %}">Популяции</a>
            <a href="{% url 'location_list' %}">Места</a>
        </div>

        <div class="profile">
            {% if user.is_authenticated %}
            <a>{{ user.username }}</a>
            {% else %}

            <a href="{% url 'login' %}">Есть аккаунт?</a>

            {% endif %}
        </div>

    </header>

    <main>
        {% block content %}


        {% endblock %}
    </main>


</body>

</html>